{% extends 'layout.html' %}

{% block content %}
    <div class="bounds">
    <ul class="minerals__container">
        {% for mineral in minerals %}
            <li class="minerals__item">
                <a class="minerals__anchor" href="{% url 'minerals_app:detail' pk=mineral.pk %}">{{ mineral.name }}</a>
            </li>
        {% endfor %}
    </ul>

    </div>
    <div class="minerals__random">
        <a class="minerals__anchor" href="{% url 'minerals_app:detail' pk=randomKey %}">Show random mineral</a>
    </div>
{% endblock %}
